include mixins

doctype html
html
    head
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap")
        link(href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet")
        link(href="css/main.min.css" rel="stylesheet")
        title Responsive Admin Dashboard

    body
        block content
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js")
        script(src="js/main.js")